a.ca { 
  color: white;
}
a.ca:hover {
color: white;
}

body {
/* background: url(bg.jpg) no-repeat center center fixed; */
background-color: rgb(34, 34, 34);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

hr {
margin-top: 1rem;
margin-bottom: 1rem;
border: 1;
border-top: 1pxsolidrgba(0,0,0,.1);
}

hr.header1 {
border-top: 1px solid rgb(255, 255, 255);
}


.content {
text-align: center;
font-family: 'Open Sans', sans-serif;
color: #fff;
margin: 40px auto;
background: rgb(34, 34, 34);
width: 100%;
max-width: 960px;
border-radius: 5px;
padding-bottom: 32px;
}

h1, h1 a {
min-height: 50px;
width: 90%;
max-width: 700px;
vertical-align: middle;
text-align: center;
margin: 0 auto;
text-decoration: none;
color: #fff;
padding-top: 10px;
}

p {
width: 90%;
max-width: 700px;
text-align: left;
margin: 0 auto;
padding-bottom: 32px;
}

a { 
color: white; 
} 

th {
color: white;
font-size: 25px;
}

.latest{
  color: rgb(30, 255, 0);
  }
.update{
  color: rgb(253, 249, 0);
  }
  .error{
    color: rgb(255, 0, 0);
    }
  


.tg  {
border-collapse:collapse;border-spacing:0;vertical-align:top;
}
.tg td {
border-color:black;border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;
overflow:hidden;padding:10px 5px;word-break:normal;vertical-align:top;
}
.tg th {
border-color:black;border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;
font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;vertical-align:top;
}
.tg .tg-0lax {
text-align:left;vertical-align:top;
}
* {
box-sizing: border-box;
}

.row {
margin-left:-5px;
margin-right:-5px;
}

.column {
float: left;
width: 50%;
padding: 5px;
}
.error {
  float: center;
  width: 100%;
  padding: 5px;
  }

/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}

table {
border-collapse: collapse;
border-spacing: 0;
width: 100%;
border: 0px solid #ddd;
}

th, td {
text-align: left;
padding: 5px;
color: #fff
}

tr:nth-child(even) {
background-color: #616161;
color: rgb(100, 21, 21)
}
tr:nth-child(odd) {
  background-color: #474747;
  color: rgb(100, 21, 21)
  }